[submodule "system"]
	path = system
	url = git://github.com/kohana/core.git
[submodule "modules/less"]
	path = modules/less
	url = git://github.com/Oreolek/kohana-less.git
[submodule "modules/kostache"]
	path = modules/kostache
	url = git://github.com/zombor/KOstache.git
[submodule "modules/markdown"]
	path = modules/markdown
	url = git://github.com/Oreolek/kohana-markdown.git
