<h3>{{get_title}}</h3>

Сложность: {{get_difficulty}}

<form method="POST" class="riddle">
  {{{labels_vertical_top}}}
  {{{get_riddle}}}
  {{{labels_vertical_bottom}}}
  <input type="submit">
</form>
