{{{riddle}}}


<form method="POST" class="riddle">
  <label class="vertical">Aasfas dgsdgd [EJ]?</label>
  <label class="vertical">A? B? C? D? \S</label>
  <div class="row">
    <label class="horizontal">ABCDFRGEFGEFE FDFG {sasdf]</label>
    <div class="cell">
      <div class="b_border b_top"></div>
      <input type="text" name="a1">
      <div class="b_border b_bottom"></div>
    </div>
    <div class="cell">
      <div class="b_border b_top"></div>
      <input type="text" name="a2">
      <div class="b_border b_bottom"></div>
    </div>
  </div>
  <div class="row even">
    <div class="cell">
      <label class="horizontal left">ALsl [ww]? df+ df</label>
      <div class="b_border b_top"></div>
      <input type="text" name="b1">
      <div class="b_border b_bottom"></div>
    </div>
    <div class="cell">
      <div class="b_border b_top"></div>
      <input type="text" name="b2">
      <div class="b_border b_bottom"></div>
      <label class="horizontal right">AL?.*</label>
    </div>
  </div>
  <input type="submit">
</form>
